<div class="beer-partial">
    <img src="{{this.image_url}}" alt="{{this.name}}">
    <div class="beer-partial-text">
        <a href="/beers/{{this.id}}">
            <h3> {{this.name}}</h3>
        </a>
        <p class="tagline"> {{this.tagline}}</p>
        <p> {{this.description}}</p>
    </div>
</div>