<h1>one beer</h1>
{{#each beer}}
<h2>{{this.name}}</h2>
<p>{{this.tagline}}</p>
<p>{{this.first_brewed}}</p>
<p>{{this.description}}</p>
<img src="{{this.image_url}}" alt="{{this.name}}" >
<p>{{this.abv}}</p>
<p>{{this.ibu}}</p>
<p>{{this.target_fg}}</p>
<p>{{this.target_og}}</p>
<p>{{this.ebc}}</p>
<p>{{this.srm}}</p>
<p>{{this.ph}}</p>
<p>{{this.attenuation_level}}</p>
<p>{{this.volume}}</p>
<p>{{this.boil_volume}}</p>
<p>{{this.method}}</p>
<p>{{this.ingredients}}</p>
<p>{{this.food_pairing}}</p>
<p>{{this.brewers_tips}}</p>
<p>{{this.contributed_by}}</p>
{{/each}}

    
    
    
   